<h1>
Payment Successful
</h1>

<h3>

Booking Confirmed

</h3>
<p>

Villa Name:

<%= booking.listing.title %>

</p>
<p>

Payment ID:

<%= booking.paymentId %>
</p>

<a href="/listings">

Go Home

</a>